<cfparam name="url.pg" type="string" default="login"/><!---default page of index---->

<!----check if a section has been taken--->
<cflock scope="Session" type="exclusive" timeout="5">
	<cfparam name="session.isLogin" type="boolean" default="false"/>
</cflock>
<cflock scope="Session" type="readonly" timeout="5">
	<cfset request.isLogin = session.isLogin />
</cflock>



<!---checks if the user is logged in---->

<!---cfif  !request.isLogin>
	<cfset url.pg = "login" />
	<cfelse>
		<!---user sessesion has ended...goto login--->
</cfif--->

<!---------------------------------------------main------------------------------------>
<cfoutput>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html lang="en">
		<head>
			<script type="text/javascript">
					function tell()
					{
					alert("I am not yet active try login in later");
					}
			</script>

			      <meta charset="utf-8">
			      <meta http-equiv="X-UA-Compatible" content="IE=edge">
			      <meta name="viewport" content="width=device-width, initial-scale=1">

			      <title>Inve3Net</title>

			      <link href="assets/css/bootstrap.min.css" rel="stylesheet">
			      <link href="assets/css/datepicker.css" rel="stylesheet">
			      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
			      <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
			      <style>
			      </style>

		</head>
		<body>
			<cfif #url.pg# == "login" or #url.pg# == "retrive">
				<!---cfinclude template="inc/menu.cfm"--->
			<cfelse>
				<cfinclude template="inc/menu.cfm">
			</cfif><br>
			
			<div class="container-fluid">
		
				<cfinclude template="page/#url.pg#.cfm"/>
			</div>
			<cfinclude template="inc/footer.cfm"/>

            <script src = "assets/js/jquery-1.10.2.min.js"></script>
            <!---script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"---></script>				
	      	<Script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	      	<!---script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script--->

</cfoutput>