<cfoutput>
	<!---nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		 		 <div class="navbar-header"> 
		 		 	<a class="navbar-brand" href="##"><i class="fa fa-list"></i> <b>Inven3Net</b></a> 
		 		 </div>
		 		</nav---> 	
		 		<br/></br>
	
		
		  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>

		  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-10" style=" border-radius: 10px; background-color:##fff; margin-top:70px; margin-left:65px; box-shadow: 2px 2px 3px 3px 	##ccc; ">
		  	<br/></br>
		  	
		  	<div style="background-color:transparent; margin:0px; ">
		  		<div class="row" style="padding-top:2px; padding-buttom:5px; color:##fff; background-color:##800000; margin-top:0px; font-family:arial;  margin-buttom:6px;">
		  			<h2 class="text-center"><i class="fa fa-book"></i> smartBooks</h2>
		  		</div><br/>

		  		<!----authenticate the user and pass declares a session for the user----->
		  		<!---================================================================--->
		  			<cfif isDefined("form.login")>
						<cfquery name="qL" datasource="inventnet">
							SELECT * FROM user
							WHERE `Email` = "#form.email#" AND 
									`Password` = "#form.password#";
						</cfquery>
						<cflock scope="Session" type="readonly" timeout="5">
								<cfset session.me =  #ql.FirstName# />
								<cfset session.roll =  #ql.Roll# />
							</cflock>
						<cfif qL.recordcount>
							<cflock scope="Session" type="exclusive" timeout="5"throwontimeout="true">
								<cfset session.user = qL />
								<cfset session.isLogin = true  />
							</cflock>
							<cflock scope="Session" type="readonly" timeout="5">
								<cfset request.user =  session.user />
								<cfset request.isLogin = session.isLogin />
							</cflock>
							<cflocation url="?pg=warehouse" addtoken="false" />
							<cfelse>
								<cflock scope="Session" type="readonly" timeout="5">
									<cfset sessionsion.isLogin = false />
								</cflock>
								<div style="margin-left:70px;color:##FF0000">*Wrong username or password*</div>
						</cfif>
					</cfif>
				<!---================================================================--->
				<!--------------------------end of Authentication----------------------->
		  		
		  
		  	<div class="row" style="padding:30px;background-color:transparent;">
		  		<form method="POST" action="">
		  			<div class="input-group">
		  				<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
		  				<input type="Email" class="form-control" name="email" placeholder="Email">
		  			</div>
					  <br/>
					<div class="input-group">
					    <span class="input-group-addon"><i class="fa fa-key"></i></span>
					    <input type="password" class=" form-control" name="password" placeholder="Password">
					</div>
					 <br/>

					<div class="form-group">
				        <button type="submit" class="btn btn-danger btn-block btn-md " tabindex="4" name="login" >
				            Login &nbsp; <i class="fa fa-play-circle"></i>
				        </button>
				    </div>	

				<!---div class="form-group">
				        <button type="submit" class="btn btn-danger btn-md " tabindex="4" onclick="javascript:window.print()" >
				            Print &nbsp; <i class="fa fa-print"></i>
				        </button>
				    </div--->
				 </form>
				 <a href="?pg=retrive">Forgot Your password?</a><br/></br>							
		  		
		  		
		  		<!---a href="AdminSignUp.cfm" ><i class="fa fa-user"></i> Sign Up</a>
		  		<form method="POST" action=""--->
		  			<!---div class="form-group">
				        <button type="submit" class="btn btn-info btn-block btn-md" tabindex="4">
				            Register
				        </button>
				    </div--->
		  		</form>
			  </div>
			 </div>
</div>
</cfoutput>