<cfoutput>
				<div align="center" style="font-size: 10px;
				  color: ##fff;
				  padding: 10px;
				  position: fixed;
				  bottom: 0px;
				  width: 100%;
				  margin-left:0px;
				  line-height: 20px;
				   background-color:##800000;
				  /*text-shadow:gray 1px 0px 1px;*/ ">
				  Preferred browsers are Google Chrome, Safari &amp; Mozilla Firefox  &copy; Copyright 2015 Adexfe Systems ltd
			</div>
</cfoutput>