<cfoutput>
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" STYLE="margin-top=0px;margin-buttom=0px">
    				 		<div class="navbar-header"> 
    				 			<a class="navbar-brand" href="##"><i class="fa fa-list"></i> <b>Inven3Net</b></a> 
    				 		 </div>
    				 		 
    				 		 	<cflock scope="Session" type="exclusive" timeout="5"throwontimeout="true">
    				 			<cfif #session.roll# == "Admin">
    				 			<div>
        						  <ul class="nav navbar-nav">

						            <cfset menu_ = "Warehouse,Purchase Order,Sell Inventory,Settings,Customer,Audit"/>
						            <cfset m_link = "warehouse,purchaseOrder,sellInventory,settings,customer,audit"/>
						            <cfset i = 0/>

						            <cfloop list="#m_link#" item="x" delimiters=",">
						              <cfset i++/>

						              <li <cfif x eq url.pg>class="active"</cfif>>
						                <a href="?pg=#x#">#menu_.listgetat(i)#</a>
						              </li>
						            </cfloop>

							          </ul>

							          <ul class="nav navbar-nav navbar-right">
							          	<cflock scope="Session" type="exclusive" timeout="5"throwontimeout="true">
							          		<p class="navbar-text"><i class="fa fa-user"></i> Hi! #session.me#</a></p>
							          	</cflock>
							            <li><a href="?pg=logout"><i class="fa fa-sign-out"></i>	 Logout&ensp;&ensp;</a></li>
							          </ul>
							        </div><!-- /.navbar-collapse -->
							      </div>
							     <cfelse>
							    	<div>
        						  <ul class="nav navbar-nav">
						            <cfset menu_ = "Warehouse,Purchase Order,Sell Inventory,Customer,Audit"/>
						            <cfset m_link = "warehouse,purchaseOrder,sellInventory,customer,audit"/>
						            <cfset i = 0/>

						            <cfloop list="#m_link#" item="x" delimiters=",">
						              <cfset i++/>

						              <li <cfif x eq url.pg>class="active"</cfif>>
						                <a href="?pg=#x#">#menu_.listgetat(i)#</a>
						              </li>
						            </cfloop>

							          </ul>

							          <ul class="nav navbar-nav navbar-right">
							          	<cflock scope="Session" type="exclusive" timeout="5"throwontimeout="true">
							          		<p class="navbar-text"><i class="fa fa-user"></i> Hi! #session.me#</a></p>
							          	</cflock>
							            <li><a href="?pg=logout"><i class="fa fa-sign-out"></i>	 Logout&ensp;&ensp;</a></li>
							          </ul>
							        </div><!-- /.navbar-collapse -->
							      </div>
							  </cfif>
							  </cflock>
    		</nav> 
    		<br/>




	
</cfoutput>