<cfoutput>

		<cfquery name="customers" datasource="inventnet">
			SELECT * FROM `customer`;
		</cfquery>


<div style="margin-top:0px;background-color:##fff;padding:20px; position:fixed;z-index:1000; width:100%; box-shadow: 2px 3px 3px   ##ccc;">
		<h3 align="center" style="color:##800000;"><b>CUSTOMERS LIST</b></h3>
	</div>
<div class="container">
<div style="margin-top:150px;">
        <div class="col-md-12"style="padding:40px; padding-buttom:5px;" id="resultTable">
          <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                  <th>Custormer No.</td>
                  <th><i class="fa fa-edit"></i> Name</td>
                  <th><i class="fa fa-edit"></i> Address</td>
                  <th><i class="fa fa-edit"></i> Email</td>
                  
                </tr>
              </thead>
            <cfloop query="#customers#">
              <tbody>
                  <tr>
                    <td>#CustomerId#</td>
                    <td><i class="fa fa-user"></i> #Name#</td>
                    <td><i class="fa fa-address"></i> #Address#</td>
                    <td><i class="fa fa-email"></i> #Email#</td>
                    <td><a class="btn btn-xs btn-default " href="?pg=customer&received=yes&id=#CustomerId#"><i class="fa fa-edit"></i> EDIT</a></td>
                  </tr>
              </tbody>
            </cfloop>
            
          </table>
         </div>
       </div>
      </div>
</cfoutput>