<cfoutput>
	<cflock type="exclusive" scope="Session" timeout="5">
		<cfset structDelete(session, "user")/>
		<cfset structDelete(session, "islogin")/>
		<cflocation url="?pg=login" />
	</cflock>
</cfoutput>