<cfoutput>


    <script type="text/java">
        function myFunction() {
            location.reload();
        }
  </script>

    <script type="text/java">
        function success() {
            alert("You Have Just Added a New Purchasee Order");
        }
    </script>
  
		<cfquery name="Items" datasource="inventnet">
			SELECT * FROM `purchase`;

		</cfquery>
    <cfquery name="Item" datasource="inventnet">
      SELECT * FROM `items`;

    </cfquery>
        
    
    <!------end of search items-------------->


<br/><br/>
<!----------------------------------------------------------------------------->
    <div style="margin-top:0px;background-color:##fff; position:fixed;z-index:1000; width:100%; box-shadow: 2px 3px 3px   ##ccc;">
      <!---------update------->
      <cfif isdefined("url.received")>
        <!----purchase---->
        <cfdump var = "#url.received#">
          <cfquery name="update" datasource="inventnet">
           SELECT * FROM `purchase`
           WHERE  `ID`="#url.id#"
         </cfquery>
         <!----items------>
          <cfquery name="qPopulate" datasource="inventnet">
            SELECT * FROM `items`
            WHERE  `ItemName`="#update.ItemName#"
          </cfquery>
          <!-----maths---->
          <cfset newqty=#qPopulate.QTYavailable# + #update.QTY#>
          <cfset newcost= #newqty# * #qPopulate.CostPrice#>
          <cfset newsales= #newqty# * #qPopulate.SalesPrice#>
          <cfset newprofit= #newsales# - #newcost#>
          
          <cfquery name="add" datasource="inventnet"> 
            UPDATE `Items`
            SET QTYavailable = '#newqty#',
                TotalCostPrice = '#newcost#',
                TotalSalesPrice = '#newsales#',
                Profit='#newprofit#'
              WHERE `ItemName`="#update.ItemName#";
          </cfquery>
          <cfquery name="Received" datasource="inventnet">
               INSERT INTO `Purchaseaudit` (
                    `ItemID`,
                    `ItemName`,
                    `Description`, 
                    `QTY`, 
                    `Cost`,
                    `TotalCost`,
                    `DateReceived`,
                    `TimeReceived`
  
                  )
                  VALUES (
                    <cfqueryparam cfsqltype="CF_SQL_varchar" value='#update.ItemId#'>, 
                    <cfqueryparam cfsqltype="CF_SQL_varchar" value='#update.ItemName#'>,
                    <cfqueryparam cfsqltype="CF_SQL_varchar" value='#update.Description#'>,
                    <cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#update.QTY#'>,
                    <cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#update.Cost#'>,
                    <cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#Update.TotalCost#'>,
                    <cfqueryparam cfsqltype="CF_SQL_varchar" value='#dateformat(now(), "yyyy-mm-dd")#'>,
                    <cfqueryparam cfsqltype="CF_SQL_varchar" value= '#TimeFormat(now(), "HH:MM:SS")#'>
                    
                    )
          </cfquery>
          <cfquery  name="change" datasource="inventnet">
            UPDATE `purchase`
            SET Transaction = 'Received'
            WHERE `ID`='#url.id#';
          </cfquery>
  
        <cflocation url="?pg=purchaseOrder">
          <div style="margin-left:520px; width:450px; border-radius:10px; padding-left:150px; background-color:##4DA64D;color:##003300;"><b>Your P.O has been added</b></div>
        </cfif>
    <!---------update------->
    <!---Delete Received P.O--->
    <cfif isdefined("url.check")>
      <cfdump var="#url.check#">
      <cfdump var="#url.id#">
      <cfquery name="delete" datasource="inventnet">
                DELETE FROM `purchase`
                WHERE `ID`="#url.id#";
      </cfquery>
      <cflocation url="?pg=purchaseOrder">
    </cfif>
    <!-------------------------->



    <!-----add P.O-------------->
    <cfif isdefined("url.cmd")>
       <cfswitch expression="#url.cmd#">
          <cfcase value="new">
            <cfquery name="val" datasource="inventnet">
              SELECT * FROM `items`
              WHERE `ItemName` = "#form.itemname#";
            </cfquery>
            <br/><cfdump var="#val.CostPrice#">
            <cfset totalcostamount= #form.Quantity# * #val.CostPrice#>

            <cfquery name="addStock" datasource="inventnet">
              INSERT INTO `Purchase` (
                `ItemID`,
                `ItemName`,
                `Description`, 
                `QTY`, 
                `Cost`,
                `TotalCost`,
                `DateAdded`,
                `TimeAdded`,
                `Transaction` 
              )
              VALUES (
                <cfqueryparam cfsqltype="CF_SQL_varchar" value='#val.ID#'>, 
                <cfqueryparam cfsqltype="CF_SQL_varchar" value='#form.itemname#'>,
                <cfqueryparam cfsqltype="CF_SQL_varchar" value='#val.Description#'>,
                <cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#form.Quantity#'>,
                <cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#val.CostPrice#'>,
                <cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#totalcostamount#'>,
                <cfqueryparam cfsqltype="CF_SQL_varchar" value='#dateformat(now(), "yyyy-mm-dd")#'>,
                <cfqueryparam cfsqltype="CF_SQL_varchar" value= '#TimeFormat(now(), "HH:MM:SS")#'>,
                'Pending'
                )
            </cfquery>
            <cflocation url="?pg=purchaseOrder" addtoken="false" />
              <div style="margin-left:450px; width:500px; border-radius:10px; padding-left:100px; background-color:##4DA64D;color:##003300;"><b>You have successfully added a product</b></div>
            <cfquery name="items" datasource="inventnet">
                SELECT * FROM `Purchase`;
            </cfquery>
            <script type="text/java">
            $('##myModal').on('hide.bs.modal', function () {
                $('##myModal').removeData();
              })
            </script>            
          </cfcase> 
       </cfswitch>
          

    </cfif>
    <!-------end of P.O---->

    <!--------Edit item--------->
    <cfif isdefined("form.recived")>

      <cfquery name="Check" datasource="inventnet">
        SELECT * FROM `purchase` WHERE `ID` = '#items.ItemName#' 
      </cfquery>
      <cfdump var="#Check#">
        <!---cfif #check.recordcount# == 1>
          <cfquery name="Edit" datasource="inventory">
                UPDATE `product` SET
                 `ProductQTY`=<cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#form.Quantity#'>,
                 `ProductDiscription`=<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value='#form.description#'>, 
                 `ProductPrice`=<cfqueryparam cfsqltype="CF_SQL_INTEGER" value='#form.price#'>, 
                 `ProductCatigory`=<cfqueryparam cfsqltype="CF_SQL_VARCHAR" value='#form.category#'>
                WHERE `ProductName`= '#form.itemname#';     
          </cfquery>
          <div style="margin-left:450px; width:500px; border-radius:10px; padding-left:180px; background-color:##4DA64D;color:##003300;"><b>Update successfull</b></div>
          <cfquery name="Edit" datasource="inventory">
            SELECT * FROM `product`;
          </cfquery>
        <cfelse>
          <div style="margin-left:450px; width:500px; border-radius:10px; padding-left:150px; background-color:##FF8080;color:##4C0000;"><b>Could not find item to edit</b></div>
        </cfif--->

    </cfif>
    <!------------end of edit item----->
    <!-------------search items-------->
    <cfif isdefined("form.search")>
      <cfquery name="items" datasource="inventory">
          SELECT * FROM `product` WHERE `ProductName` = '#form.itemname#';
      </cfquery>
      <div style="margin-left:450px; width:500px; border-radius:10px; padding-left:180px; background-color:##FF8080;color:##4C0000;"><b>#items.recordcount# record found</b></div>
    </cfif>
    		<h3 align="center" style="color:##800000;padding:20px;"><b>PURCHASE ORDER</b></h3>
    		<div class="col-md-3">
    			<form>
    				<div class="form-group">
    					<input class="form-control" type="text" name="search" value="" placeholder="Search..."></input>
    				</div>
    			</form>
    		</div>
    		<div class="col-md-4"></div>
    		<div class="col-md-5" style="padding-left:100px;">
    			<div>
             <a href="?pg=purchaseOrder"><button type="button" class="btn btn-default"><i class="fa fa-refresh"></i> Refresh</button></a>
            <button type="button" data-toggle="modal" data-target="##additem" data-refresh="true" class="btn btn-danger"><i class="fa fa-plus"></i> New Purchase Order</button> 
    				<!---button type="button" data-toggle="modal" data-target="##edit" data-refresh="true" class="btn btn-danger"><i class="fa fa-edit"></i> Edit item</button---> 

    				<button type="button" data-toggle="modal" data-target="##search" data-refresh="true" class="btn btn-primary"><i class="fa fa-search"></i> Search For P.O</button> 
    			</div><br/><br/>
    		</div><br/><br/>     
      </div>
  <div style="margin-top:150px;">
        <cfloop query="item">
          <cfif #QTYavailable# == 0>
            <br/><br/><div style="margin-left:50px; width:450px; border-radius:10px; padding-left:85px; background-color:##FF0000;color:##ffffff;"><b>!! YOU ARE OUT OF STOCK ON ITEM: #ItemName# !!</b></div>
            <cfelse>
          </cfif>
        </cfloop>

        <div class="col-md-12"style="padding:40px; padding-buttom:5px;" id="resultTable">
          <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                  <th>##PO No.</td>
                  <th><i class="fa fa-edit"></i> Name</td>
                  <th><i class="fa fa-edit"></i> Description</td>
                  <th><i class="fa fa-edit"></i> QTY To Purchase</td>
                  <th><i class="fa fa-edit"></i> Cost Price/Item</td>
                  <th><i class="fa fa-edit"></i> Total Cost Price</td>
                  <th><i class="fa fa-edit"></i> Date Added</td>
                  <th><i class="fa fa-edit"></i> Time Added</td>
                  <th><i class="fa fa-edit"></i> Status</td>
                  <th></td>
                </tr>
              </thead>

              <tbody>
                <cfloop query="items">
                  <cfif #items.Transaction# == "Pending">
                      <tr>
                        <td>#ID#</td>
                        <td>#ItemName#</td>
                        <td>#Description#</td>
                        <td>#QTY#</td> 
                        <td><i class="fa fa-money"></i> #Cost#</td>
                        <td><i class="fa fa-money"></i> #TotalCost#</td>
                        <td><i class="fa fa-calendar"></i> #DateAdded#</td>
                        <td><i class="fa fa-history"></i> #TimeAdded#</td>
                        <td style="color: ##FF0000;"><i class="fa fa-history"></i> Pending</td>
                        <td><a class="btn btn-xs btn-default " href="?pg=purchaseOrder&received=yes&id=#ID#">Received</a></td>
                      </tr>
                    <cfelse>
                      <tr>
                        <td>#ID#</td>
                        <td>#ItemName#</td>
                        <td>#Description#</td>
                        <td>#QTY#</td> 
                        <td><i class="fa fa-money"></i> #Cost#</td>
                        <td><i class="fa fa-money"></i> #TotalCost#</td>
                        <td><i class="fa fa-calendar"></i> #DateAdded#</td>
                        <td><i class="fa fa-history"></i> #TimeAdded#</td>
                        <td style="color: ##009900;"><i class="fa fa-history"></i> Received</td>
                        <td><a class="btn btn-xs btn-default " href="?pg=purchaseOrder&id=#ID#&check=delete">Delete</a></td>
                      </tr>
                    </cfif>  
            </tbody>
             </cfloop>
          </table>
		</div>
</div>
</div>

<!------------------------------------------------------modals------------------------------------------------------>
  <div class="modal fade" id="additem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2 class="modal-title" id="myModalLabel"><i class="fa fa-plus"></i>&ensp;Add Purchase Order</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="post" role="form" action="?pg=purchaseOrder&cmd=new">
              <div class="form-horizontal">
                <div class="col-sm-6">
                  <select  class="form-control" name="itemname" placeholder="Select Item" required>
                    <option value="">---Select an Item---</option>
                    <cfquery name="itemsel" datasource="inventnet">
                      SELECT * FROM `items`;
                    </cfquery>
                      <cfloop query="itemsel">
                        <option>#ItemName#</option>
                      </cfloop>
                  </select>
                </div>

                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="Quantity" placeholder="Enter Quantity to Add" required>
                </div>
              </div><br/><br/>
              <hr>
              <button type="submit" onclick="success()" value="submit" class="btn btn-primary" name="submit"><i class="fa fa-floppy-o"></i>&ensp;Add P.O</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-----------------------------------modal edit------------------------------------------------------------>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2 class="modal-title" id="myModalLabel"><i class="fa  fa-pencil-square-o"></i>&ensp;Edit Item</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="post" role="form">
              <div class="form-horizontal">
                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="itemname"  placeholder="Item Name" required>
                </div>

                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="Quantity"  placeholder="Quantity" required>
                </div>
              </div>
           		<br/><br/><br/>
               <div class="form-horizontal">
                <div class="col-sm-12">
                  <textarea class="form-control" name="description" value=""  placeholder="Description" required></textarea>
                </div>
              </div>
              <br/><br/><br/><br/>
              <div class="form-horizontal">
                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="price"  placeholder="Price" required >
                </div>

                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="category"  placeholder="Category" required>
                </div>
              </div>
              <br/><br/>
              <hr>
              <button type="submit" value="submit" class="btn btn-primary" name="edit"><i class="fa fa-floppy-o"></i>&ensp;Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!-----------------------------------modal edit------------------------------------------------------------>
  <div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2 class="modal-title" id="myModalLabel"><i class="fa  fa-search"></i>&ensp;Search</h2>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="post" role="form">
              <div class="form-horizontal">
                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="itemname"  placeholder="Item Name" required>
                </div>

                <div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="category"  placeholder="Category" required>
                </div>
              </div>
              <br/><br/><br/>
              <div class="form-horizontal">

                <!---div class="col-sm-6">
                  <input data-provide="datepicker" value="" class="form-control datepicker" name="date" placeholder="Date created-yyyy/mm/dd" data-date-format="yyyy-mm-dd" data-date-startdate="-3y" required/>
                </div--->

                <!---div class="col-sm-6">
                  <input class="form-control" type="text" value="" name="category"  placeholder="Category" required>
                </div>
              </div--->
              <br/><br/>
              <hr>
              <button type="submit" value="submit" class="btn btn-primary" name="search"><i class="fa fa-search"></i>&ensp;Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</cfoutput> 
