<cfoutput>


<!-----------------------------------------CREATE AND VALIDATES CAPTHCA------------------------------------------------>
<cfinclude template="../inc/captcha.cfm">
<!------------------------------------------------------------------------------------------------------------------------->

				
					
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>

				  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-10" style=" border-radius: 10px; background-color:##fff; margin-top:70px; margin-left:65px; box-shadow: 2px 2px 3px 3px 	##ccc; ">
				  	<br/></br>
				  	
				  	<div style="background-color:transparent; margin:0px; ">
				  		<div class="row" style="padding-top:2px; padding-buttom:5px; color:##fff; background-color:##800000; margin-top:0px; font-family:arial; margin-buttom:2px;">
				  			<h2 class="text-center"><i class="fa fa-book"></i> smartBooks</h2>
				  		</div><br/>

					  	<div class="row" style="padding:30px; padding-top:10px; background-color:transparent;">
					  			 <!--- code to recover lost account --->
							    <cfif isDefined("form.submit")>
						                <!--- Check for a bot. --->
						                <cfif blnIsBot>

						                	<div style="padding:10px; color:##FF0000;">
						                		<b>You have entered the wrong Number. please try again!</b>
						                	</div>
						                	<br/>

							                <cfelse>
										      <cftransaction>
										        <cfquery name="qRecover" datasource="inventnet">
										          SELECT * FROM user
										          WHERE Email = <cfqueryparam value="#form.Email#" cfsqltype="cf_sql_varchar">
										        </cfquery>
										      </cftransaction>
										       <cfif #qRecover.Email# eq "">
											       		<div style="padding:10px; color:##7D1818;"><b>Your account was not found, pls enter a registered Email</b></div><br/>
											       <cfelse>
											        <cfmail to="#form.email#" subject="Login Retrival details" from="support@adexfe.com" username="support@adexfe.com" password="workrelated1" server="smtp.live.com" usetls="true" port="587" bcc="info@adexfe.com" type="html">
												        <div>
												         <h3> Inve3Net.com</h3>
												          <p>Password request details</p>
												          <p>==============================</p>
												          <p>USERNAME: #qRecover.Email#</p>
												          <p>PASSWORD: #qRecover.Password#</p>
												          <p>==============================</p>
												          Thank you.
												        </div>
											        </cfmail>
											        <div style="padding:10px; color:##004000;"><b>Your Login details has been sent to you email, Please check your email</b> </div><br/>
									        
									        </cfif>
								       </cfif>
							          
							    </cfif>
				    			<!--- End --->
					  		<form method="POST" action="">
					  			<div class="input-group">
					  				<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
					  				<input type="Email" class="form-control" value="" name="Email" placeholder="Enter your Email" required>
					  			</div>
								  <br/>

								  <!---collects the input for the captcha--->

								  <input type="hidden" name="submitted" value="1" />


								  <!---colllects the capthca image value--->

									 <input  type="hidden" name="captcha_check" value="#FORM.captcha_check#"
						                />

								<div class="input-group">
								    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
								    <input type="Text" class="form-control" value="" name="captcha" placeholder="confirm the number below" required>
								</div>
								 <br/>
								 <!----------capthca image---------->
								  <div style="margin-left:65px;"><cfimage
				                    action="captcha"
				                    height="38"
				                    width="200"
				                    text="#strCaptcha#"
				                    difficulty="medium"
				                    fonts="verdana,arial,times new roman,courier"
				                    fontsize="28"/>
				                    <br/><br/></div>

								<div class="form-group">
							        <button type="submit" name="submit" value="submit" class="btn btn-danger btn-block btn-md " tabindex="4"  >
							            Submit &nbsp; <i class="fa fa-play-circle"></i>
							        </button>
							    </div>	

							<!---div class="form-group">
							        <button type="submit" class="btn btn-danger btn-md " tabindex="4" onclick="javascript:window.print()" >
							            Print &nbsp; <i class="fa fa-print"></i>
							        </button>
							    </div--->
							 </form>
							 <a align="center" href="?pg=login"><b>LOGIN</b></a><br/></br>						
					  	
						  </div>
						 </div>
			</div>
</cfoutput>