<cfoutput>
<br/>
	 <div>
<!-----------------logic last edited by david----17-11-2015----->
<!---test--->
  <!---cfif isdefined("form.submit")>
    <cfdump var="#ItemPurchase#">
    <cfdump var="#quantity#">
    <cfset count="#form.index#" - 1>
    <cfset items = arraynew(1)>
      <cfloop from="1" to="#listlen(ItemPurchase)#" index="item">
        #item#:#listgetat(ItemPurchase, item)#<br/>
        <cfset items["#item#"]="#listgetat(ItemPurchase, item)#">
      </cfloop>
      <cfdump var="#items#">
  </cfif--->


   <div style="margin-top:0px;background-color:##fff; position:fixed;z-index:1000; width:100%; box-shadow: 2px 3px 3px   ##ccc;">
		<h3 align="center" style="color:##800000;"><b>TRADE DESK</b></h3>
   </div><br/><br/><br/><br/>
    <div class="container">
       <div class="form-horizontal">
                <form method="post" >
                  <label class="col-md-1">Enter No. of items.:</label>
                  <div class="col-md-2">
                      <input type="number" placeholder="Items" name="number" class="form-control" value="" required></input>
                  </div>
                  <div class="col-md-1">
                    <button type="submit" name="add" value="add"  class="btn btn-md btn-danger"><i class="fa fa-plus"></i> Add</button>
                 </div>
                </form>
              </div>
      
		  
      <div class="col-md-12"style="padding:40px; padding-buttom:5px;" id="resultTable">
        
            <form class="form-horizontal" method="post" role="form" action="?pg=preview">
                <div class="form-horizontal">
                	<label for="title" class="col-sm-1 control-label">Customer:</label>
                     <div class="col-sm-3">
                      <input class="form-control" type="text" value="" name="CustomerName" placeholder="Name" required>
                    </div>
                    <div class="col-sm-4"></div>
                    <label for="title" class="col-sm-1 control-label">Date:</label>
                     <div class="col-xs-3">
                      <label for="title" class=" control-label">#dateformat(now(), "dd/mm/yyyy")#</label>
                    </div>

                </div><br/><br/>
             
                      <label for="title" class="col-sm-1 control-label">Address:</label>
                     <div class="col-sm-3">
                      <textarea class="form-control" type="text" value="" name="address" placeholder="Enter Customer's Address" required></textarea>
                    </div> 
                    <div class="col-sm-4"></div>
                	       <label for="title" class="col-sm-1 control-label">Email:</label>
                     <div class="col-sm-3">
                      <input class="form-control" type="text" value="" name="CustomerEmail" placeholder="Enter Customer's Email" required>
                    </div>
                    
                </div><br/><br/><br/>
                <h4 align="center" style="color:##800000;"><b>ITEMS</b></h4><hr/>
                <div class="container">
                  
                  
                  <br/><br/><br/>
                           <table id="table" class="table table-striped" cellspacing="0" cellpadding="0">
                            <thead>
                              <tr>
                                <th>S/N</th>
                                <th>Item</th>
                                <th><i class="fa fa-edit"></i> QTY</th>
                              </tr>
                            </thead>
                            <tbody>
                              <cfif isdefined('form.add')>  
                                      
                                <cfloop index="i" from="1" to="#form.number#">
                                <tr>
                                  <td>#i#</td>
                                  <td><select  class="form-control" name="ItemPurchase" placeholder="Select Item" required>
                                      <option value="">---Select an Item---</option>
                                      <cfquery name="itemsel" datasource="inventnet">
                                        SELECT * FROM `items`;
                                      </cfquery>
                                        <cfloop query="itemsel">
                                          <cfif itemsel.QTYavailable < 1>
                                            <cfelse>
                                              <option value="#ItemName#">#ItemName#</option>
                                          </cfif>
                                        </cfloop>
                                    </select>
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" name="quantity" value="" placeholder="Enter quanity"required>
                                  </td>
                                </tr>
                              </cfloop>
                              <input type="hidden" name="index" value="#i#">
                       </cfif>
                         <br/>
                        </tbody>
                    </table>
                    
                            <button type="submit" class="form-control btn col-md-5 btn-md btn-danger" name="submit" value="submit"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i> Proceed with Purchase</button> <br/><br/><br/><br/>
                	</form>
          	</div><br/><br/>
         

</cfoutput>